draft/*.pdf
report/*.pdf
slides/*.pdf

*/temp.ipynb

report.pdf
draft.pdf
slide.pdf

figures/*.png
figures/*.mp4
figures/*.npy
figures/*.h5
figures/data/*

*.pyc
*oar_launcher*
*stderr
*stdout
*json

*launcher*.sh
*SLURM_JOB.md

*-blx.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.err
*.xml
*.toc
*.spl

*.path

*.DS_Store

*.tar.gz
*.zip
