draft/*.pdf
report/*.pdf

*/temp.ipynb

report.pdf
draft.pdf

figures/*.png
figures/*.mp4
figures/*.npy
figures/*.h5

*.pyc
*oar_launcher*
*stderr
*stdout
*json

*launcher*.sh
*SLURM_JOB.md

*-blx.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.err
*.xml
*.toc
*.spl

*.path

*.DS_Store
