draft/**/*.pdf
report/*.pdf

report.pdf
draft.pdf

figures/**.png
figures/**.mp4
Sim_data

*.pyc
*oar_launcher*
*stderr
*stdout

*launcher*.sh
*SLURM_JOB.md

*-blx.bib
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.toc

*/.DS_Store
.DS_Store
